.amber {
  --amber000: hsl(39 30% 8%);
  --amber100: hsl(38 50% 8.6%);
  --amber200: hsl(38 50.1% 10.1%);
  --amber300: hsl(38 51.8% 12.1%);
  --amber400: hsl(38 55.5% 14.8%);
  --amber500: hsl(38 61.2% 18.6%);
  --amber600: hsl(38 68.6% 24.9%);
  --amber700: hsl(39 90.2% 48%);
  --amber800: hsl(39 100% 57%);
  --amber900: hsl(39 90% 51.2%);
  --amber1000: hsl(39 97% 93.2%);
}
.blue {
  --blue000: hsl(212 25% 8.7%);
  --blue100: hsl(212 50% 10.2%);
  --blue200: hsl(211 57.9% 12.9%);
  --blue300: hsl(210 65.1% 15.7%);
  --blue400: hsl(209 72.5% 18.6%);
  --blue500: hsl(208 81.1% 22.1%);
  --blue600: hsl(207 92.7% 27.3%);
  --blue700: hsl(208 93.1% 40%);
  --blue800: hsl(206 100% 50%);
  --blue900: hsl(210 100% 66.1%);
  --blue1000: hsl(206 98% 95.8%);
}
.bronze {
  --bronze000: hsl(17 3% 8.8%);
  --bronze100: hsl(17 13.7% 10%);
  --bronze200: hsl(17 16.6% 12.9%);
  --bronze300: hsl(17 18.7% 15.9%);
  --bronze400: hsl(17 20.2% 19.2%);
  --bronze500: hsl(17 21.5% 23.3%);
  --bronze600: hsl(18 22.9% 29.2%);
  --bronze700: hsl(18 24.9% 44.9%);
  --bronze800: hsl(17 20% 54%);
  --bronze900: hsl(18 37% 61%);
  --bronze1000: hsl(18 57% 94.1%);
}
.crimson {
  --crimson000: hsl(335 16% 8.7%);
  --crimson100: hsl(335 33.3% 10%);
  --crimson200: hsl(335 38.5% 12.1%);
  --crimson300: hsl(335 43.7% 14.5%);
  --crimson400: hsl(335 49.2% 17.6%);
  --crimson500: hsl(335 55.5% 21.6%);
  --crimson600: hsl(335 64% 27.2%);
  --crimson700: hsl(334 80.3% 35.9%);
  --crimson800: hsl(336 80% 57.8%);
  --crimson900: hsl(341 90% 63.1%);
  --crimson1000: hsl(332 87% 96%);
}
.cyan {
  --cyan000: hsl(192 38% 7.5%);
  --cyan100: hsl(192 68.4% 7.5%);
  --cyan200: hsl(192 67.6% 10.1%);
  --cyan300: hsl(191 68.9% 12.9%);
  --cyan400: hsl(191 70.8% 16.1%);
  --cyan500: hsl(191 73.4% 19.7%);
  --cyan600: hsl(190 77% 24.2%);
  --cyan700: hsl(190 85.3% 32%);
  --cyan800: hsl(190 95% 39%);
  --cyan900: hsl(192 80% 47.1%);
  --cyan1000: hsl(185 73% 93.2%);
}
.gold {
  --gold000: hsl(44 4% 8.5%);
  --gold100: hsl(43 14.9% 9.2%);
  --gold200: hsl(43 16.9% 11.5%);
  --gold300: hsl(42 19% 14%);
  --gold400: hsl(41 20.9% 17%);
  --gold500: hsl(41 22.7% 21%);
  --gold600: hsl(39 24.6% 27.1%);
  --gold700: hsl(36 27.8% 45.1%);
  --gold800: hsl(36 20% 49.5%);
  --gold900: hsl(35 50% 62.9%);
  --gold1000: hsl(49 52% 93.8%);
}
.gray {
  --gray000: hsl(0 0% 8.2%);
  --gray100: hsl(0 0% 9.6%);
  --gray200: hsl(0 0% 11.5%);
  --gray300: hsl(0 0% 13.6%);
  --gray400: hsl(0 0% 16.2%);
  --gray500: hsl(0 0% 19.7%);
  --gray600: hsl(0 0% 24.5%);
  --gray700: hsl(0 0% 31%);
  --gray800: hsl(0 0% 43.9%);
  --gray900: hsl(0 0% 52.9%);
  --gray1000: hsl(0 0% 93%);
}
.green {
  --green000: hsl(146 30% 7.4%);
  --green100: hsl(147 42.9% 8.2%);
  --green200: hsl(147 43.8% 9.9%);
  --green300: hsl(148 45.7% 11.9%);
  --green400: hsl(148 47.8% 14.3%);
  --green500: hsl(149 50.4% 17.5%);
  --green600: hsl(150 53.7% 22.6%);
  --green700: hsl(151 59.8% 35.1%);
  --green800: hsl(151 55% 41.5%);
  --green900: hsl(136 50% 55.1%);
  --green1000: hsl(137 72% 94%);
}
.indigo {
  --indigo000: hsl(229 24% 9.8%);
  --indigo100: hsl(229 36.7% 11.8%);
  --indigo200: hsl(228 42.2% 14.6%);
  --indigo300: hsl(227 46.8% 17.7%);
  --indigo400: hsl(226 51.1% 21.2%);
  --indigo500: hsl(225 55.3% 25.8%);
  --indigo600: hsl(224 59.5% 32.7%);
  --indigo700: hsl(225 61.8% 47.3%);
  --indigo800: hsl(226 70% 55.5%);
  --indigo900: hsl(228 100% 72.9%);
  --indigo1000: hsl(226 83% 96.3%);
}
.lime {
  --lime000: hsl(80 20% 7.5%);
  --lime100: hsl(80 47.4% 7.5%);
  --lime200: hsl(84 44.4% 9.2%);
  --lime300: hsl(86 44.8% 11.2%);
  --lime400: hsl(86 48.1% 13.9%);
  --lime500: hsl(85 53% 17.5%);
  --lime600: hsl(83 59.9% 23.3%);
  --lime700: hsl(76 84.5% 38%);
  --lime800: hsl(81 67% 50%);
  --lime900: hsl(81 70% 50%);
  --lime1000: hsl(84 79% 92.6%);
}
.olive {
  --olive000: hsl(110 7% 8.4%);
  --olive100: hsl(108 10.2% 9.6%);
  --olive200: hsl(109 8.9% 11.4%);
  --olive300: hsl(109 7.9% 13.4%);
  --olive400: hsl(109 7% 15.9%);
  --olive500: hsl(110 6.1% 19.2%);
  --olive600: hsl(110 5.3% 23.8%);
  --olive700: hsl(111 4.6% 30%);
  --olive800: hsl(110 6% 42.5%);
  --olive900: hsl(110 5% 51.9%);
  --olive1000: hsl(110 6% 93%);
}
.orange {
  --orange000: hsl(24 20% 8.8%);
  --orange100: hsl(25 59.2% 9.6%);
  --orange200: hsl(23 57.8% 11.3%);
  --orange300: hsl(22 58% 13.4%);
  --orange400: hsl(22 59.8% 16.3%);
  --orange500: hsl(22 63.4% 20.4%);
  --orange600: hsl(23 68.2% 27.3%);
  --orange700: hsl(24 90% 52.9%);
  --orange800: hsl(24 94% 50%);
  --orange900: hsl(24 90% 60.2%);
  --orange1000: hsl(24 97% 93.2%);
}
.pink {
  --pink000: hsl(318 20% 8.8%);
  --pink100: hsl(318 33.3% 10%);
  --pink200: hsl(318 38.1% 12.4%);
  --pink300: hsl(318 42.6% 15.1%);
  --pink400: hsl(318 47.1% 18.3%);
  --pink500: hsl(319 52.3% 22.5%);
  --pink600: hsl(319 59.3% 28.5%);
  --pink700: hsl(320 72.2% 38%);
  --pink800: hsl(322 65% 54.5%);
  --pink900: hsl(325 90% 67.1%);
  --pink1000: hsl(322 90% 95.8%);
}
.plum {
  --plum000: hsl(301 20% 8.8%);
  --plum100: hsl(300 29.4% 10%);
  --plum200: hsl(299 35.1% 12.7%);
  --plum300: hsl(298 39.9% 15.7%);
  --plum400: hsl(298 44.2% 19.1%);
  --plum500: hsl(297 48.4% 23.2%);
  --plum600: hsl(297 53.2% 28.8%);
  --plum700: hsl(296 59.8% 38%);
  --plum800: hsl(292 45% 51%);
  --plum900: hsl(300 75% 66.1%);
  --plum1000: hsl(296 74% 95.7%);
}
.purple {
  --purple000: hsl(284 13% 9.2%);
  --purple100: hsl(284 28.3% 10.4%);
  --purple200: hsl(282 34.7% 13.2%);
  --purple300: hsl(281 39.8% 16.4%);
  --purple400: hsl(279 44% 20%);
  --purple500: hsl(278 47.8% 24.5%);
  --purple600: hsl(275 51.4% 30.8%);
  --purple700: hsl(272 55.1% 42%);
  --purple800: hsl(272 51% 54%);
  --purple900: hsl(275 91% 71%);
  --purple1000: hsl(279 75% 95.7%);
}
.quartz {
  --quartz000: hsl(246 5% 8.6%);
  --quartz100: hsl(240 6.1% 9.6%);
  --quartz200: hsl(241 5.8% 11.6%);
  --quartz300: hsl(241 5.6% 13.8%);
  --quartz400: hsl(242 5.4% 16.5%);
  --quartz500: hsl(244 5.2% 20.2%);
  --quartz600: hsl(245 5% 25.3%);
  --quartz700: hsl(247 4.9% 32.2%);
  --quartz800: hsl(252 4% 45%);
  --quartz900: hsl(253 4% 54%);
  --quartz1000: hsl(256 6% 93%);
}
.red {
  --red000: hsl(353 23% 9.4%);
  --red100: hsl(353 34.6% 10.2%);
  --red200: hsl(352 38.8% 11.9%);
  --red300: hsl(352 43.6% 14%);
  --red400: hsl(352 48.4% 16.7%);
  --red500: hsl(351 53.7% 20.2%);
  --red600: hsl(352 59.9% 25.2%);
  --red700: hsl(353 70.2% 36.9%);
  --red800: hsl(358 75% 59%);
  --red900: hsl(358 100% 68%);
  --red1000: hsl(351 89% 96%);
}
.sage {
  --sage000: hsl(155 7% 8.4%);
  --sage100: hsl(160 6.1% 9.6%);
  --sage200: hsl(159 5.8% 11.4%);
  --sage300: hsl(159 5.5% 13.4%);
  --sage400: hsl(158 5.3% 15.9%);
  --sage500: hsl(157 5% 19.2%);
  --sage600: hsl(156 4.8% 23.8%);
  --sage700: hsl(154 4.6% 30%);
  --sage800: hsl(155 6% 42.5%);
  --sage900: hsl(155 5% 51.9%);
  --sage1000: hsl(155 6% 93%);
}
.sand {
  --sand000: hsl(61 2% 8.3%);
  --sand100: hsl(60 2% 9.6%);
  --sand200: hsl(58 2.4% 11.4%);
  --sand300: hsl(56 2.8% 13.4%);
  --sand400: hsl(53 3.1% 15.9%);
  --sand500: hsl(50 3.6% 19.2%);
  --sand600: hsl(47 4% 23.8%);
  --sand700: hsl(43 4.6% 30%);
  --sand800: hsl(50 4% 42.5%);
  --sand900: hsl(49 3% 52%);
  --sand1000: hsl(56 4% 94%);
}
.sky {
  --sky000: hsl(193 60% 7.3%);
  --sky100: hsl(193 80% 7.8%);
  --sky200: hsl(193 79.8% 9.5%);
  --sky300: hsl(193 79.7% 11.6%);
  --sky400: hsl(192 79.4% 14.4%);
  --sky500: hsl(192 78.8% 18.6%);
  --sky600: hsl(192 78.2% 25.9%);
  --sky700: hsl(193 93% 55.1%);
  --sky800: hsl(193 98% 70%);
  --sky900: hsl(198 100% 55.1%);
  --sky1000: hsl(198 98% 95.8%);
}
.slate {
  --slate000: hsl(200 7% 8.4%);
  --slate100: hsl(200 6.1% 9.6%);
  --slate200: hsl(200 6.2% 11.5%);
  --slate300: hsl(201 6.2% 13.6%);
  --slate400: hsl(201 6.3% 16.2%);
  --slate500: hsl(202 6.3% 19.6%);
  --slate600: hsl(203 6.3% 24.4%);
  --slate700: hsl(204 6.3% 31%);
  --slate800: hsl(206 6% 43.9%);
  --slate900: hsl(205 5% 52.9%);
  --slate1000: hsl(210 6% 93%);
}
.teal {
  --teal000: hsl(168 48% 6.5%);
  --teal100: hsl(168 75.8% 6.5%);
  --teal200: hsl(168 68.1% 8.4%);
  --teal300: hsl(169 68% 10.4%);
  --teal400: hsl(170 67.9% 12.8%);
  --teal500: hsl(170 68.5% 15.9%);
  --teal600: hsl(171 70.8% 20.2%);
  --teal700: hsl(173 79.7% 29%);
  --teal800: hsl(173 80% 36%);
  --teal900: hsl(174 90% 40%);
  --teal1000: hsl(166 73% 93.1%);
}
.tomato {
  --tomato000: hsl(10 23% 9.4%);
  --tomato100: hsl(10 34.6% 10.2%);
  --tomato200: hsl(9 38.7% 12%);
  --tomato300: hsl(8 43.2% 14.1%);
  --tomato400: hsl(8 48.2% 16.8%);
  --tomato500: hsl(8 53.3% 20.3%);
  --tomato600: hsl(8 59.2% 25.3%);
  --tomato700: hsl(10 70.2% 36.9%);
  --tomato800: hsl(10 78% 54%);
  --tomato900: hsl(10 100% 68%);
  --tomato1000: hsl(10 89% 96%);
}
.violet {
  --violet000: hsl(250 15% 9.5%);
  --violet100: hsl(250 30% 11.8%);
  --violet200: hsl(249 36.5% 15.3%);
  --violet300: hsl(248 41.1% 19.1%);
  --violet400: hsl(248 44.8% 23.4%);
  --violet500: hsl(248 48.3% 28.7%);
  --violet600: hsl(249 52.3% 36.8%);
  --violet700: hsl(252 57.6% 50%);
  --violet800: hsl(252 56% 57.5%);
  --violet900: hsl(250 100% 76.1%);
  --violet1000: hsl(252 87% 96.4%);
}
.yellow {
  --yellow000: hsl(44 25% 7.6%);
  --yellow100: hsl(44 59% 7.6%);
  --yellow200: hsl(44 54.8% 9.3%);
  --yellow300: hsl(45 53.6% 11.4%);
  --yellow400: hsl(45 55.8% 14.2%);
  --yellow500: hsl(46 60.8% 18.1%);
  --yellow600: hsl(47 67.6% 24.4%);
  --yellow700: hsl(50 100% 45.1%);
  --yellow800: hsl(53 92% 50%);
  --yellow900: hsl(49 80% 52.2%);
  --yellow1000: hsl(55 93% 89.9%);
}
